.paginationContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 1%;
  top: 35%;
  gap: 15px;
}
.button {
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  font-size: 25px;
}
